<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GymTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GymTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GymTrack.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Amogus</value>
            </setting>
            <setting name="Dayoffs" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="IsWeightTracked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Weight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainingFolderPath" serializeAs="String">
                <value>TrainingsData</value>
            </setting>
            <setting name="ThemeID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsTimeIn24HourFormat" serializeAs="String">
                <value>True</value>
            </setting>
        </GymTrack.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GymTrack.Properties.Settings>
            <setting name="StatisticsFolderName" serializeAs="String">
                <value>StatisticsData</value>
            </setting>
        </GymTrack.Properties.Settings>
    </applicationSettings>
</configuration>