<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GymTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GymTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GymTrack.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Dayoffs" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="IsWeightTracked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Weight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainingFolderPath" serializeAs="String">
                <value>TrainingsData</value>
            </setting>
            <setting name="ThemeID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsTimeIn24HourFormat" serializeAs="String">
                <value>True</value>
            </setting>
        </GymTrack.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GymTrack.Properties.Settings>
            <setting name="StatisticsFolderName" serializeAs="String">
                <value>StatisticsData</value>
            </setting>
            <setting name="StatisticsFileName" serializeAs="String">
                <value>Statistics.gymtrack</value>
            </setting>
        </GymTrack.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>